<app-page-title [text]="'Upcoming Retreats'"></app-page-title>
<div class="page-content-wrapper">
    <div class="quote">“Learn this from water: loud splashes the brook but the oceans depth are calm.”<span class="author"> -The Buddha</span>
    </div>
    <p class="description">
        A retreat removes the daily buzz of modern life and gives one an opportunity to dedicate one-hundred percent of their effort and attention to spiritual exploration. Most of them involve numberous meditation sessions throughout the day and are a great way to rejuvenate your practice. If you've never been to a retreat and are hesitant, try out one of the shorter retreats before you make the dive into a longer retreat. 
    </p>
</div>
<!-- <mat-card> -->
    <div *ngFor="let month of months">
        <div class="month-name">
            {{ month }}
        </div>
        <div class="retreats-container" fxLayout >
            <app-retreat 
                *ngFor="let retreat of retreats | byMonth:month"
                [monthInput]="month"
                fxFlex="50%"
                [retreatInput]="retreat">
            </app-retreat>
        </div>
    </div>
<!-- </mat-card> -->

