<mat-nav-list>
  <a mat-list-item routerLink="/weekly" (click)="onClose()" >
    <!-- <mat-icon>face</mat-icon> -->
    <span class="nav-caption">Weekly Events</span>
  </a>
  <a mat-list-item routerLink="/calendar" (click)="onClose()">
    <!-- <mat-icon>input</mat-icon> -->
    <span class="nav-caption">Calendar</span>
  </a>
  <a mat-list-item routerLink="/retreats" (click)="onClose()">
    <!-- <mat-icon>input</mat-icon> -->
    <span class="nav-caption">Retreats</span>
  </a>
  <a mat-list-item routerLink="/groups" (click)="onClose()">
    <!-- <mat-icon>fitness_center</mat-icon> -->
    <span class="nav-caption">Groups &amp; Institutions</span>
  </a>
  <a mat-list-item routerLink="/resources" (click)="onClose()">
    <!-- <mat-icon>fitness_center</mat-icon> -->
    <span class="nav-caption">Resources</span>
  </a>
</mat-nav-list>
