<app-page-title [text]="'Weekly Events'"></app-page-title>
<div class="page-content-wrapper">
  <div class="quote">“Every morning we are born again. What we do today is what matters most.”<span class="author"> -Buddha</span></div>
  <p class="description">Here you will find a list of all events that reoccur on the same day each week. Click on the event for more detailed information about the event, including directions and details, if available.</p>
</div>
<mat-card>
  <app-weekly-calendar fxLayout fxLayoutAlign="space-around center"></app-weekly-calendar>
</mat-card>