<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a class="logo" routerLink="/"><img src="https://firebasestorage.googleapis.com/v0/b/meditateredding.appspot.com/o/lotus.png?alt=media&token=a6cf4772-c18b-4aff-92d3-0142ab7ac1c1 alt=" class="logo-icon"><span class="logo-text">meditate<span class="logo-text-light">Redding</span></span></a>
  </div>
  <div class="navlinks" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout class="navigation-items">
      <li>
        <a routerLink="/weekly">Weekly Events</a>
      </li>
      <li>
        <a routerLink="/retreats">Retreats</a>
      </li>
      <li>
        <a routerLink="/groups">Groups &amp; Institutions</a>
      </li>
      <li>
        <a routerLink="/resources">Resources</a>
      </li>
      <li>
        <a routerLink="/calendar">Contact</a>
      </li>
     
      
    </ul>
  </div>
</mat-toolbar>
