a {
  text-decoration: none;
  color: #663E32;
}

a:hover,
a:active {
  color: lightgray;
}

mat-toolbar{
  height: 55px;
  /* background-color:rgba(204, 170, 89, 0.47); */
  background-color:rgba(255, 255, 255, 0.67);
  -webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
    transition: height 0.3;
}
mat-toolbar:hover{
  background-color:rgba(255, 255, 255, 1);
  height: 110px;
  
  /* background-color:rgba(204, 170, 89, 1); */
}
.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}



