<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a class="logo" routerLink="/">MeditateRedding</a>
  </div>
  <div class="navlinks" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout class="navigation-items">
      <li>
        <a routerLink="/weekly">Weekly Events</a>
      </li>
      <li>
        <a routerLink="/retreats">Retreats</a>
      </li>
      <li>
        <a routerLink="/groups">Groups &amp; Institutions</a>
      </li>
      <li>
        <a routerLink="/resources">Resources</a>
      </li>
      <li>
        <a routerLink="/calendar">Contact</a>
      </li>
     
      
    </ul>
  </div>
</mat-toolbar>
