.day-text{
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Lato';

}

@media (max-width: 1000px) {
    .day-text{
        margin-top: 40px;
        text-decoration: underline;
       
    }
} 
