mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main{
  padding: 60px 50px;
  min-height: 540px;
}

.hero{
  width: 100%;
  height: 450px;
  
  background-size: cover;
  background-repeat: no-repeat;
}
.hero{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/meditateredding.appspot.com/o/tree.png?alt=media&token=ce8423af-ed38-4840-bc3f-e5b1025e0072');
}
.hero.weekly{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/meditateredding.appspot.com/o/trees.png?alt=media&token=d31d132f-0a21-42b6-abc0-2f1520fea43e');
}
.hero.retreats{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/meditateredding.appspot.com/o/butterfly.png?alt=media&token=b62d26d4-141f-4237-b2c8-f6363b235696');
}
.hero.groups{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/meditateredding.appspot.com/o/cats.png?alt=media&token=1243fe62-f86f-4995-a079-9e5669e20a41');
}
.hero.calendar{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/meditateredding.appspot.com/o/Bird.png?alt=media&token=0b297002-e659-4e30-a236-4c3affa39a30');
}
.hero.resources{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/meditateredding.appspot.com/o/Wave.png?alt=media&token=f7b19ac5-fae5-49d2-b661-9ff94f752923');
}