<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="hero"
    [ngClass] = "{ 
      'home': currentRoute !== '/', 
      'retreats': currentRoute === '/retreats',
      'weekly': currentRoute === '/weekly',
      'groups': currentRoute === '/groups', 
      'resources': currentRoute === '/resources',  
      'contact': currentRoute === '/contact'  
    }">
      <app-header 
        (sidenavToggle)="sidenav.toggle()"
      >
      </app-header>
    </div>
    <main >
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

