<div class="welcome" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center top">
  <section>
    <h1>DAILY PRACTICE</h1>
    <p>Meditation has been shown to reduce stress and anxiety, and can confer host of other benefits. A daily meditation practice can encourage a wholesome and fulufilled life, and can provide a useful augmentation to any spiritual path.</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>The support of a spiritual community is an important part of any human life and can fill our practice with new depth and meaning. Join otherlike-minded people on the path and experience the joy of fellowship with the community. </p>
  </section>
  <section>
    <h1>RETREATS</h1>
    <p>If you're looking for more than daily practice or would like to take your practice to the next level, explore the wide variety of day long and multi-day retreats available in Northern California year-round. </p>
  </section>
  
</div>
<section class="description-section">
    <p>
      MeditateRedding.com serves to centralize and consilidate as much information as possible related to meditation practice in the Shasta County area of Northern California. We would like for Shasta County residents or passers-through to be able to find local meditation gatherings, seek out nearby retreats and connect with other like-minded individuals.
    </p>
</section>
