<app-page-title [text]="'Meditation Groups and Institutions'"></app-page-title>
<div class="page-content-wrapper">
  <div class="quote">“If we see a group of people living mindfully, capable of smiling, of loving, we gain confidence in our future.”<span class="author"> -The Buddha</span></div>
  <p class="description">
      Meditation-oriented organizaitions in the local area help to support the community in their practice and to serve as places of gathering for other seekers. Please see below for the descriptions, websites and contact information for each institution or group mentioned on this web site. 
  </p>
</div>
 
<mat-card
  fxLayout
>
  <app-group
    *ngFor="let group of groups"
    [groupInput]="group"
    >
  </app-group>
</mat-card>