mat-card{
    margin: 10px 10px;
    padding: 18px;
}
mat-card-title{
    font-size: 18px;
}

mat-card-subtitle{
    font-weight: bold;
    font-size: 20px;
    color: #444888;
}

.group-color-0{
    color: red;
    font-weight: bold;
}
.group-color-1{
    color: blue;
    font-weight: bold;
}
.group-color-2{
    color: green;
    font-weight: bold;
}