<mat-card>
  <mat-card-subtitle *ngIf="event">{{ event.time }}</mat-card-subtitle>
  <mat-card-content 
    *ngIf="event"
    [ngClass]="{
      'group-color-0': event.group === 'Center for Spiritual Living',
      'group-color-1': event.group === 'Redding Zen Priory',
      'group-color-2': event.group === 'River Oak Sangha'
    }"
    >
    {{ event.group }}
  </mat-card-content>
  <mat-card-title *ngIf="event"> {{ event.name }}</mat-card-title>
  <mat-card-content *ngIf="event">{{ event.description }}</mat-card-content>
</mat-card>