/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  color: #A64C38;
}

img{
  max-width: 100%;
  max-height: 100%;
}

app-page-copy{
  font-size: 25px;
}

app-page-title h1{
  margin-bottom: 30px;
}

.group-color-0{
  color: black;   
  font-weight: bold;
}
.group-background-color-0{    
  background-color: rgba(218,180, 132,0.3);
}
.group-color-1{
  color:  black;  
  font-weight: bold;
}
.group-background-color-1{    
  background-color: rgba(165, 137, 103,0.3);
}
.group-color-2{
  color: black;
  font-weight: bold;
}
.group-background-color-2{    
  background-color: rgba(154,154,154,0.3);
}
