/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  color:#663E32;
}

img{
  max-width: 100%;
  max-height: 100%;
}

app-page-copy{
  font-size: 25px;
}

app-page-title h1{
  margin-bottom: 30px;
}

.page-content-wrapper{
  color:#663E32;
  border-bottom: 1px solid rgba(102, 62, 50, .22);
  margin-bottom: 105px;
  
}
.page-content-wrapper .quote{
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 60px;
  max-width: 800px;
  padding: 0 40px;
}
.page-content-wrapper .quote .author{
  font-style: normal;
  margin-left: 23px;
}
.page-content-wrapper .description{
  font-size: 20px;
  margin-bottom: 45px;
  max-width: 900px;
  
}

.group-color-0{
  color: black;   
  font-weight: bold;
}
.group-background-color-0{    
  background-color: rgba(218,180, 132,0.3);
}
.group-color-1{
  color:  black;  
  font-weight: bold;
}
.group-background-color-1{    
  background-color: rgba(165, 137, 103,0.3);
}
.group-color-2{
  color: black;
  font-weight: bold;
}
.group-background-color-2{    
  background-color: rgba(154,154,154,0.3);
}


