
app-weekly-day{
    flex-grow: 2;
    border: 3px solid #DDD;
    min-height: 800px;
    width: 14.28%;
}

app-weekly-day{
    border-right: none;
}
app-weekly-day:last-child{
    border-right: 2px solid #DDD;
}
@media (max-width: 1000px) {
    app-weekly-day{
        border: none;
       
    }
} 