
app-weekly-day{
    flex-grow: 2;
    border: 3px solid #AAA;
    height: 600px;
    width: 14.28%;
}
app-weekly-day{
    border-right: none;
}
app-weekly-day:last-child{
    border-right: 2px solid #AAA;
}
